*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.registration-box{
    margin: 40px;
    background: rgba(0, 0, 0, 0.55);
    width: 50%;
    border-radius: 10px;
    padding: 30px 50px 20px 50px;
}

.contacts-box{
    height: 450px;
    display: flex;
    width: 40%;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.55);
    margin: 40px 20px;
    padding: 30px 50px 20px 50px;
    border-radius: 10px;
    overflow: auto;
}

.title-input{
    padding: 0 0 5px 7px;
    font-weight: bold;
}

body{
    background: #91c970;
}

.save-btn{
    margin-left: 80%;
}
.contact-list{
    margin-bottom: 20px;
    border-radius: 10px;
}

.profile-box{
    color: white;
    background: red;
    /*padding: 5px 6px;*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-contact{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.phoneInput{
    padding: 10px 20px;
    background: #000;
}

.modal-window{
    margin-right: -50%;
}

.icon{
    color: #dddde5;
    font-size: 14px;
}

@media (max-width: 1050px) {
    .big-box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
